<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}: Odonto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">

    <ion-item>
      <ion-label stacked>Data*</ion-label>
      <ion-input type="date" formControlName="data"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.data.valid && (form.controls.data.dirty || form.controls.data.touched)" color="danger">
      <div [hidden]="!form.controls.data.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Responsável*</ion-label>
      <ion-input type="text" formControlName="responsavel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.responsavel.valid && (form.controls.responsavel.dirty || form.controls.responsavel.touched)" color="danger">
      <div [hidden]="!form.controls.responsavel.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Equipe*</ion-label>
      <ion-input type="text" formControlName="equipe"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.equipe.valid && (form.controls.equipe.dirty || form.controls.equipe.touched)" color="danger">
      <div [hidden]="!form.controls.equipe.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <br><br>
    <ion-title>Identificação</ion-title>
    <br><br>

    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
      <div [hidden]="!form.controls.nome.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Idade</ion-label>
      <ion-input type="text" formControlName="idade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Sexo</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="genero">
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="feminino"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio value="masculino"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Cor</ion-label>
      <ion-input type="text" formControlName="cor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Profissão</ion-label>
      <ion-input type="text" formControlName="profissao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Natural de</ion-label>
      <ion-input type="text" formControlName="natural_de"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Procedente de</ion-label>
      <ion-input type="text" formControlName="procedente_de"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>55</ion-label>
      <ion-input type="text" formControlName="situacao_55"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>54</ion-label>
      <ion-input type="text" formControlName="situacao_54"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>53</ion-label>
      <ion-input type="text" formControlName="situacao_53"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>52</ion-label>
      <ion-input type="text" formControlName="situacao_52"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>51</ion-label>
      <ion-input type="text" formControlName="situacao_51"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>61</ion-label>
      <ion-input type="text" formControlName="situacao_61"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>62</ion-label>
      <ion-input type="text" formControlName="situacao_62"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>63</ion-label>
      <ion-input type="text" formControlName="situacao_63"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>64</ion-label>
      <ion-input type="text" formControlName="situacao_64"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>65</ion-label>
      <ion-input type="text" formControlName="situacao_65"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>18</ion-label>
      <ion-input type="text" formControlName="situacao_18"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>17</ion-label>
      <ion-input type="text" formControlName="situacao_17"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>16</ion-label>
      <ion-input type="text" formControlName="situacao_16"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>15</ion-label>
      <ion-input type="text" formControlName="situacao_15"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>14</ion-label>
      <ion-input type="text" formControlName="situacao_14"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>13</ion-label>
      <ion-input type="text" formControlName="situacao_13"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>12</ion-label>
      <ion-input type="text" formControlName="situacao_12"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>11</ion-label>
      <ion-input type="text" formControlName="situacao_11"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>21</ion-label>
      <ion-input type="text" formControlName="situacao_21"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>22</ion-label>
      <ion-input type="text" formControlName="situacao_22"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>23</ion-label>
      <ion-input type="text" formControlName="situacao_23"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>24</ion-label>
      <ion-input type="text" formControlName="situacao_24"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>25</ion-label>
      <ion-input type="text" formControlName="situacao_25"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>26</ion-label>
      <ion-input type="text" formControlName="situacao_26"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>27</ion-label>
      <ion-input type="text" formControlName="situacao_27"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>28</ion-label>
      <ion-input type="text" formControlName="situacao_28"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>48</ion-label>
      <ion-input type="text" formControlName="situacao_48"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>47</ion-label>
      <ion-input type="text" formControlName="situacao_47"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>46</ion-label>
      <ion-input type="text" formControlName="situacao_46"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>45</ion-label>
      <ion-input type="text" formControlName="situacao_45"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>44</ion-label>
      <ion-input type="text" formControlName="situacao_44"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>43</ion-label>
      <ion-input type="text" formControlName="situacao_43"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>42</ion-label>
      <ion-input type="text" formControlName="situacao_42"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>41</ion-label>
      <ion-input type="text" formControlName="situacao_41"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>31</ion-label>
      <ion-input type="text" formControlName="situacao_31"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>32</ion-label>
      <ion-input type="text" formControlName="situacao_32"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>33</ion-label>
      <ion-input type="text" formControlName="situacao_33"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>34</ion-label>
      <ion-input type="text" formControlName="situacao_34"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>35</ion-label>
      <ion-input type="text" formControlName="situacao_35"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>36</ion-label>
      <ion-input type="text" formControlName="situacao_36"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>37</ion-label>
      <ion-input type="text" formControlName="situacao_37"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>38</ion-label>
      <ion-input type="text" formControlName="situacao_38"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>85</ion-label>
      <ion-input type="text" formControlName="situacao_85"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>84</ion-label>
      <ion-input type="text" formControlName="situacao_84"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>83</ion-label>
      <ion-input type="text" formControlName="situacao_83"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>82</ion-label>
      <ion-input type="text" formControlName="situacao_82"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>81</ion-label>
      <ion-input type="text" formControlName="situacao_81"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>71</ion-label>
      <ion-input type="text" formControlName="situacao_71"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>72</ion-label>
      <ion-input type="text" formControlName="situacao_72"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>73</ion-label>
      <ion-input type="text" formControlName="situacao_73"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>74</ion-label>
      <ion-input type="text" formControlName="situacao_74"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>75</ion-label>
      <ion-input type="text" formControlName="situacao_75"></ion-input>
    </ion-item>

    <br><br><br><br>

    <ion-item>
      <ion-label stacked>Está em tratamento médico?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="tratamento_medico">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Está tomando algum medicamento?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="tomando_medicamento">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Já teve alguma doença? (hepatite, chagas, sífilis, febre reumática, câncer, HIV, etc.)</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="teve_doenca">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>É diabético?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="diabetico">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Sofre de alguma doença do coração?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="diabetico">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>É hipertenso?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="hipertenso">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>É hemofílico?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="hemofilico">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Pés incham com facilidade?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="pes_incham">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Tem tosse persistente?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="tosse_persistente">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Algum tipo de alergia?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="alergia">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Quando se fere, demora para cicatrizar?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="demora_cicatrizar">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Já foi submetido a anestesia para tratamento odontológico?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="anestesia_tratamento_odontologico">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Já teve hemorragia?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="teve_hemorragia">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Tem algum vício?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="tem_vicio">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Está grávida?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="esta_gravida">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Sofre de epilepsia?</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="sofre_epilepsia">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Tem algo a declarar a respeito de sua saúde que não foi perguntado neste questionário? Em caso afirmativo, qual?</ion-label>
      <ion-input type="text" formControlName="declaracao"></ion-input>
    </ion-item>

    <br><br>



    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>
