<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}: Odonto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">

    <ion-item>
      <ion-label stacked>Data*</ion-label>
      <ion-input type="date" formControlName="data"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.data.valid && (form.controls.data.dirty || form.controls.data.touched)" color="danger">
      <div [hidden]="!form.controls.data.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Responsável*</ion-label>
      <ion-input type="text" formControlName="responsavel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.responsavel.valid && (form.controls.responsavel.dirty || form.controls.responsavel.touched)" color="danger">
      <div [hidden]="!form.controls.responsavel.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Equipe*</ion-label>
      <ion-input type="text" formControlName="equipe"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.equipe.valid && (form.controls.equipe.dirty || form.controls.equipe.touched)" color="danger">
      <div [hidden]="!form.controls.equipe.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <br><br>
    <ion-title>Identificação</ion-title>
    <br><br>

    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.nome.valid && (form.controls.nome.dirty || form.controls.nome.touched)" color="danger">
      <div [hidden]="!form.controls.nome.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Necessita tratamento</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="tratamento">
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Núm. Ficha</ion-label>
      <ion-input type="text" formControlName="numero_ficha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Idade</ion-label>
      <ion-input type="text" formControlName="idade"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Sexo</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="genero">
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="feminino"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio value="masculino"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Etinia</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="etinia">
      <ion-item>
        <ion-label>B</ion-label>
        <ion-radio value="b"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>P</ion-label>
        <ion-radio value="p"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>N</ion-label>
        <ion-radio value="n"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>A</ion-label>
        <ion-radio value="a"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>I</ion-label>
        <ion-radio value="i"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Atendimento</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="atendimento">
      <ion-item>
        <ion-label>1o</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Ret</ion-label>
        <ion-radio value="R"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Encaminhamento</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="encaminhamento">
      <ion-item>
        <ion-label>endo</ion-label>
        <ion-radio value="endo"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>exo</ion-label>
        <ion-radio value="exo"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>cárie</ion-label>
        <ion-radio value="carie"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>dor</ion-label>
        <ion-radio value="dor"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>outro</ion-label>
        <ion-radio value="outro"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Comunidade/Escola</ion-label>
      <ion-input type="text" formControlName="comunidade_escola"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Sala</ion-label>
      <ion-input type="text" formControlName="sala"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Período</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="periodo">
      <ion-item>
        <ion-label>M</ion-label>
        <ion-radio value="M"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>T</ion-label>
        <ion-radio value="T"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label stacked>Autorização dos pais</ion-label>
    </ion-item>
    <ion-list radio-group formControlName="autorizacao">
      <ion-item>
        <ion-label>exame</ion-label>
        <ion-radio value="exame"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>art</ion-label>
        <ion-radio value="art"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>exo</ion-label>
        <ion-radio value="exo"></ion-radio>
      </ion-item>
    </ion-list>

    <br><br><br><br>
    <ion-title>Superior</ion-title>
    <br><br>

    <ion-item>
      <ion-label stacked>18</ion-label>
      <ion-checkbox formControlName="superior_18"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label stacked>17</ion-label>
      <ion-checkbox formControlName="superior_17"></ion-checkbox>
    </ion-item>

    <br><br><br><br>
    <ion-title>Inferior</ion-title>
    <br><br>

    <ion-item>
      <ion-label stacked>18</ion-label>
      <ion-checkbox formControlName="inferior_18"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label stacked>17</ion-label>
      <ion-checkbox formControlName="inferior_17"></ion-checkbox>
    </ion-item>

    <br><br>



    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>
</ion-content>
